BASE_URL=http://localhost:3031

NEXT_PUBLIC_WEB_URL=http://localhost:3031
NEXT_PUBLIC_WEB_SOCKET=http://localhost:3030
WEB_SOCKET=http://localhost:3030
ENCRYPTION_KEY=


# DB Storage
DATABASE_URL_APPUSER=postgresql://


# Redis / Cache
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# WhatsApp Business Cloud API
WHATSAPP_API_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_BUSINESS_ACCOUNT_ID=                  
WHATSAPP_WEBHOOK_SECRET=
WHATSAPP_API_VERSION=v22.0

# Meta App
M4D_APP_ID=
META_CLIENT_SECRET=
META_BUSINESS_ID=

# Stripe
STRIPE_SECRET_KEY=sk_test_
STRIPE_WEBHOOK_SECRET=whsec_
AUTH_SECRET=

# Debug
DEBUG=false

# AWS Setup
AWS_REGION=
AWS_BUCKET_NAME=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Resend 
RESEND_API_KEY=
